body {
    background-color:rgb(218, 228, 236);
    text-align: center;
    min-height: 100vh;
}

.menuHead {
    background-color: rgb(248, 210, 249);
    height: 90px;
}

h3 {
    font-family: 'Alex Brush', cursive;
}

.remove-item-btn {
    font-size: 10px;
    padding: 2px;
    background-color: rgb(238, 77, 77);
    color: antiquewhite;
}


.subMenu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: cornflowerblue;
    padding-bottom: 0em;
    background-color: rgb(96, 230, 226);
}

.menu-titles {
    font-size: 3em;
    font-weight: bold;
    font-family: 'Alex Brush', cursive;
}

header {
    height: 80px;
    text-align: center;
    font-size: 60px;
    color: rgb(42, 109, 233);
    font-family: 'Courgette', cursive;
}

#menuContainer > div {
    border: 2px solid black;
    /* font-size: 36px; */
}

.orderName {
    font-family: 'Alex Brush', cursive;
    font-size: larger;
}


#stickyContainer{
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  font-size: 30px;
  font-weight: bold;
}


#order li {
    border: 1px solid black;
    padding: 5px;
    margin: 5px 0;
    background-color: aliceblue;
}

#order span {
    float: right;
}

.card {
    border: 1px solid rgb(7, 7, 23);
    padding: 0.5em;
    width: 30%;
    text-align: center;
    box-sizing: border-box; 
    margin: 1em 0.2em;
    min-width: 300px;   
}
.card-special {
    display: flex;
    flex-direction: column;
    align-content:  flex-end
    /* background-color: black !important; */
    /* height: fit-content */
}

.responsive {
    width: 65%;
    max-width: 400px;
    height: auto;
}

.addButton {
    border: 1px solid rgb(8, 97, 145);
    background-color: rgb(110, 209, 231);
    width: 100%;
   }

.addButton:hover {
    background-color: rgb(7, 76, 179);
    font-weight: 600;
    cursor: pointer;
   }

#orderContainer {
    font-size: 20px;
    border:  1px solid black;
    padding: 0%;

   }

footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: rgb(94, 148, 220);
        color: white;
        text-align: center;
        font-family: 'Alex Brush', cursive;
     }

#finishedOrderlist {
        border-bottom: 1px solid black;
     }

     .orderItem {
        font-size: 15px;
        font-weight: bold;
    
     }

@media (max-width: 800px) {
      header { 
        display: none;
      }
}


