main {
    height: 1000px;
}

header {
    height: 80px;
    text-align: center;
    font-size: 40px;
}

#menuContainer > div {
    border: 1px solid black;
    font-size: 36px;
}


#order li {
    border: 1px solid black;
    padding: 5px;
    margin: 5px 0;
}

.card {
    border: 1px solid rgb(7, 7, 23);
    float: right;
    padding: 0 8px;
    width: 33%;
    text-align: center;
    /* box-sizing: border-box; */
    margin-bottom: 30px;
   
}

.responsive {
    width: 50%;
    max-width: 400px;
    height: auto;
}

